<% include ../include/header.ejs %>
<% include ../include/sidebar.ejs %> 



<div class="content-wrapper">
       <h1>Account Page</h1>
       
       
       
           <div class="container">
        <section style="padding-bottom: 50px; padding-top: 50px;">
            <div class="row">
                <div class="col-md-4">
                    <img src="img/cd-avatar.png" />
                    <br />
                    <br />
                   
                    <label>Registered Email</label>
                    <input type="text" class="form-control" id="txt_name" value=<%=email%>>

                    <br>
                
                    <a id="#" class="btn btn-success">Update Email</a>
                    <br /><br/>
                </div>
                
                
                
             <form class="form-updatePass">
                <div class="col-md-8">
                    <div class="form-group col-md-8">
                        <h3>Change Your Password</h3>
                        <br />
                     
                        <label for="inputPassword">Enter Old Password</label>
                        <input type="password" id="inputPassword" class="form-control">
                        <label for="newPassword">Enter New Password</label>
                        <input type="password" id="newPassword" class="form-control">
                        <label for="confirmPassword">Confirm New Password</label>
                        <input type="password" id="confirmPassword" class="form-control" />
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" id="submitButton" type="submit">Change Password</button>

                    </div>
                </div>
             </form> 
    
                
            </div>
            <!-- ROW END -->
            
            
   


        </section>
        <!-- SECTION END -->
    </div>
    
        </div>

       
       
       
       
       
       
       
       
       
       
       
       

           </main>


  </body>
  
  
<% include ../include/account.ejs %>