<% include ../include/header.ejs %>
<% include ../include/sidebar.ejs %> 

  <body>

<div class="content-wrapper">
       <h1>Account Page</h1>
       
       
       
           <div class="container">
        <section style="padding-bottom: 50px; padding-top: 50px;">
            <div class="row">
                <div class="col-md-4">
                    <img src="img/cd-avatar.png" />
                    <br />
                    <br />
                   
                    <label>Registered Email</label>
                    <input type="text" class="form-control" id="txt_name" value=<%=email%>>

                    <br>
                
                    <a id="#" class="btn btn-success">Update Email</a>
                    <br /><br/>
                </div>
                <div class="col-md-8">
                    <div class="form-group col-md-8">
                        <h3>Change Your Password</h3>
                        <br />
                        <label>Enter Old Password</label>
                        <input type="password" class="form-control">
                        <label>Enter New Password</label>
                        <input type="password" class="form-control">
                        <label>Confirm New Password</label>
                        <input type="password" class="form-control" />
                        <br>
                        <a id="a_click" class="btn btn-warning">Change Password</a>
                    </div>
                </div>
            </div>
            <!-- ROW END -->


        </section>
        <!-- SECTION END -->
    </div>
    
        </div>

       
       
       
       
       
       
       
       
       
       
       
       

       

  </body>
  
  
<% include ../include/account.ejs %>