<% include ../include/header.ejs %>
<% include ../include/sidebar.ejs %> 

  <body>

<div class="content-wrapper">
       <h1><b>Overview Tab</b></h1>
       <p>Welcome to Crossover, an app that helps you sync your tabs across your devices painlessly so that no matter what device you use, you can pick up where you left off.
       <br>
       Quickstart:<p>
       <h3><b>Website</b></h3>
       <p>As you know you are first directed to this Overview page. If you looked at the sidebar, you will see your first tab group
       called Home Group. In that Home Group tab Group, you can add your first set of tabs that you want to save. Once on the page
       you can now add your first tab groups that you want to save. In order to save your tabs, just give it a title, and the url, 
       click on the save button and your first tab group will be save. To add more tabs, just click on the add row button and do the
       same thing. Now you have save urls!</p>
       <p>To just get back your save urls, either clicked the actual url, or select the checkmark box, and then click on the open 
       selected row to open up your tabs. If you want to open all your tabs you can clicked on the open all rows button or click the 
       top checkmark box and then clicked on the open selected row to open up all your tabs. Now you know how to get open up your saved
       tabs!</p>
       <p>If you don't want that tab, you can just clicked on the checkmark box, and then click on the delete row. You can delete as 
       many tabs you want.</p>
       <p>Finally, you can also move your saved tab row around. So if you want just want something to be on top, just click near the side of the row, and move wherever you want. A little red triangle should appear indicating where you want to place it, and basically that's about it for the actual tab group page!</p>
       <p>Now if you want to add a new tab group you can click on the New Tab Group Button and a pop up will show up asking what you want to name the new tab group. Basically, that's about it, you will have a new tab group, and it will look basically the same as the Home Group tab Group. However, the new tab group that you just name will appear in the sidebar now. The only problem is that the delete tab group button doesn't work yet, so you can not delete tab groups. That will be in a later edition</p>
       <p>Finally, you can go to the account icon on the top right, and click on the edit account icon. There you can change your email, and/or password. So that's about it on the website.</p>
       <h3><b>Mobile Application</b></h3>
      <p>Still in development, download coming soon! Email crossoverteam6@gmail.com for information on how to get the product  </p>
      
      <center> <img src="../img/a1.png" style="width:304px;height:400px;" ></center>
      <center><p>Tab Group (Main)View. Open All will open all tabs in the group in Chrome windows.</p></center>
      
       <center> <img src="../img/a2.png" style="width:304px;height:400px;" ></center>
      <center><p>Navigation Menu/Tab group select. Tap group to switch to it.</p></center>
      
       <center> <img src="../img/a3.png" style="width:304px;height:400px;" ></center>
      <center><p>Add Tab Dialog (Double Tap Any Tab). Confirm to save.</p></center>
      
       <center> <img src="../img/a4.png" style="width:304px;height:400px;" ></center>
       <center><p> Overflow Menu (3 Dots) Delete Tab Group will delete the currently visible Tab Group on press. Delete Tab Group is always disabled for Home Group</p></center>

      
       <center> <img src="../img/a5.png" style="width:304px;height:400px;" ></center>
      <center><p> Add New Tab Group Dialog. Confirm to save.</p></center>
      
       <center> <img src="../img/a6.png" style="width:304px;height:400px;" ></center>
      <center><p>Add New Tab: Select Group to add it to, click Save.</p></center>
      
       <center> <img src="../img/a7.png" style="width:304px;height:400px;" ></center>
      <center><p>Sign In Screen.</p></center>
      
       <center> <img src="../img/a8.png" style="width:304px;height:400px;" ></center>
      <center><p>Select URL button pressed, select tabs, click “Open Selected URLs” to view them in Chrome</p></center>
      
       <center> <img src="../img/a9.png" style="width:304px;height:400px;" ></center>
      <center><p>Swipe any tab away to delete. Swipe again to confirm.</p></center>
      
       <center> <img src="../img/a10.png" style="width:304px;height:400px;" ></center>
      <center><p>Drag and drop via dotted handle on side. Order saves when you drop the item.</p></center>
      
       <center> <img src="../img/a11.png" style="width:304px;height:400px;" ></center>
      <center><p>Edit Tab Dialog (Long Press on Any Tab), Confirm to save.</p></center>
      
      
      
       <h3><b>Chrome Extension Side</b></h3>
       <p>Still in development, download coming soon! Email crossoverteam6@gmail.com  </p>

  </body>
<% include ../include/end.ejs %>